@charset "UTF-8";
/************************************************
		 Styling for Standard Elements	
*************************************************/

body, html{
  border: 0;
  padding: 0;
  margin: 0;
}

body{
  font-size: 14px;
  text-align: center;
  background: #2a2a2a;
  color: rgba(255, 255, 255, 0.55);
  font: 14px 'BitstreamVeraSansRoman', Arial, sans-serif;
  letter-spacing: 0;
  line-height: 1.50em;
}

pre{
  padding: 10px;
  background: #393939;
  border: 1px solid silver;
  color: #2a2a2a;
  display: block;
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.1em;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}

.lineno{
  color: grey;
  display: block;
  float: left;
  width: 20px;
  text-align: center;
}

p code, ul code{
  background: grey;
  padding: 2px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a{
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

a:hover{
  color: #a0c754;
}

h1{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'QuicksandBook', Arial, sans-serif;
  font-size: 30px;
  color: #efefef;
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'QuicksandBook', Arial, sans-serif;
  font-size: 25px;
  color: #efefef;
}


/************************************************
		Custom Styling for Specific IDs		
*************************************************/

#wrapper{
  margin: 0 auto;
  width: 880px;
  padding: 20px;
}

#header{
  margin-top: 0px;
  position: relative;
  width: 880px;
  height: 80px;
}

#logo{
  position: absolute;
  bottom: 10px;
  left: 20px;
}

#logo a{
  text-shadow:0 -1px 0 rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.4);
  font: 35px 'DanielRegular', Arial, sans-serif;
  color: #a0c754;
  text-decoration: none;
  border-bottom: none;
}

#menu{
  position: absolute;
  bottom: 20px;
  right: 8px;
  text-align: right;
}

#menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li{
  display: inline-block;
}

#menu ul li a{
  display: block;
  text-decoration: none;
  border-bottom: none;
  color: #efefef;
  padding: 0 15px 0 15px;
  font-family: 'QuicksandLight', Arial, sans-serif;
  font-size: 20px;
}

#menu ul li a:hover{
  color: #a0c754;
}

.tagline{
  padding-top: 20px;
  text-align: left;
  color: #a0c754;
  font-family: 'QuicksandBook', Arial, sans-serif;
  font-size: 30px;
}

#content{
  background: #2a2a2a;
  z-index: 9999;
  position: relative;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}

#feature{
  width: 840px;
  height: 400px;  
  overflow: hidden;
  position: relative;
  box-shadow:-1px -1px 0px rgba(0,0,0,0.3), 1px 1px 0px rgba(255,255,255,0.1);
}

#feature img{
  width: 840px;
  position: absolute;
  top: -110px;
}

#feature_description{
  position: absolute;
  bottom : 0px;
  left: 0px;
  width: 840px;
  padding: 10px 20px 10px 20px;
  background: rgba(0,0,0,0.5);
  color: rgba(255, 255, 255, 0.6);
}

#subfeature_1{
  margin-right: 20px;
}

#subfeature_1, #subfeature_2{
  margin-top: 20px;
  width: 410px;
  height: 195px;
  overflow: hidden;
  position: relative;
  float: left;
  box-shadow:-1px -1px 0px rgba(0,0,0,0.4), 1px 1px 0px rgba(255,255,255,0.1);
}

#subfeature_1 img, #subfeature_2 img{
  width: 410px;
  position: absolute;
  top: -60px;
}

#footer{
  font-size: 10px;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.2);
}

.clearfix{
  width: 100%;
  height: 1px;
  overflow: hidden;
  clear: both;
}

.portfolio_item{
  width: 195px;
  height: 146px;
  float: left;
  z-index: 9999;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow:-1px -1px 0px rgba(0,0,0,0.4), 1px 1px 0px rgba(255,255,255,0.4);
}

.pad{
  margin-right: 20px;
}

.portfolio_item a img{
  width: 195px;
}

.video{
  width: 560px;
  margin: 0 auto;
}

.signature{
  font: 35px 'DanielRegular', Arial, sans-serif;
  letter-spacing: 0;
  margin-left: 17px;
  padding-top: 10px;
  color: #a0c754;
  text-align: right;
}

.content_image{
  width: 790px;
  display: block;
  background: #efefef;
  margin: 10px auto;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
