.c{color:#998;}
.err{color:#a61717;background-color:#e3d2d2;}
.k{color:#c77632;}
.o{color:#efefef;}
.cm{color:#998;font-style:italic;}
.cp{color:#999;}
.c1{color:#998;font-style:italic;}
.cs{color:#999;font-style:italic;}
.gd{color:#efefef;background-color:#fdd;}
.gd .x{color:#efefef;background-color:#faa;}
.ge{color:#efefef;font-style:italic;}
.gr{color:#a00;}
.gh{color:#999;}
.gi{color:#efefef;background-color:#dfd;}
.gi .x{color:#efefef;background-color:#afa;}
.go{color:#888;}
.gp{color:#555;}
.gs{}
.gu{color:#aaa;}
.gt{color:#a00;}
.kc{color:#efefef;}
.kd{color:#efefef;}
.kp{color:#efefef;}
.kr{color:#efefef;}
.kt{color:#c77632;}
.m{color:#099;}
.s{color:#9bb75b;}
.n{color:#efefef}
.p{color: #efefef}
.na{color:#008080;}
.nb{color:#0086B3;}
.nc{color:#458;}
.no{color:#008080;}
.ni{color:#800080;}
.ne{color:#ffc579;}
.nf{color:#ffc579;}
.nn{color:#555;}
.nt{color:#efefef;}
.nv{color:#008080;}
.ow{color:#efefef;}
.w{color:#bbb;}
.mf{color:#9bb75b;}
.mh{color:#9bb75b;}
.mi{color:#9bb75b;}
.mo{color:#9bb75b;}
.sb{color:#9bb75b;}
.sc{color:#9bb75b;}
.sd{color:#9bb75b;}
.s2{color:#9bb75b;}
.se{color:#9bb75b;}
.sh{color:#9bb75b;}
.si{color:#9bb75b;}
.sx{color:#9bb75b;}
.sr{color:#009926;}
.s1{color:#9bb75b;}
.ss{color:#990073;}
.bp{color:#999;}
.vc{color:#008080;}
.vg{color:#008080;}
.vi{color:#008080;}
.il{color:#099;}
