---
layout: blog
title: How To Sharpen A Knife
---

%p I've had a number of people over the last few months ask how I recommend sharpening their knives. Unfortunately knife sharpening can seem like a difficult and scary process if you haven't had someone to walk you through it, so I though I would put together a video detailing how I sharpen my knives.

%p The process I use is deliberately simple and relatively foolproof. If you sharpen your knives the way I show in the video you'll have razor sharp edges in no time!

<iframe width="853" height="480" src="//www.youtube.com/embed/ZlI5PaXsfOk?rel=0" frameborder="0" allowfullscreen></iframe>


%p PLEASE NOTE: I am not affiliated with Lansky in any way, nor am I receiving any money for sales of the items below. I use the product and I think it works well, that's the only reason I'm recommending it.

%p <a href="http://www.amazon.com/Lansky-3-Hone-Sharpening-System-LKC03/dp/B000B8L6LI">Standard sharpening system (Amazon - $24)</a> 

%p <a href="http://www.amazon.com/Lansky-LK3DM-Diamond-Standard-System/dp/B000B8JDRC ">Diamond sharpening system (Amazon -$54)</a>

%p <a href="http://www.amazon.com/Lansky-LM009-Universal-Mount/dp/B000B8L6NG">Stand for the sharpening system (Amazon - $8)</a>

%p Spend the extra for the diamond system if you can afford it. They both work well, but the diamond system is faster. The diamond version will also work much better on steels that have high carbide content like D2, S30V, S35V, M4, and so on...