---
layout: blog
title: File Basics
---

%p This video is the second part of a series that I'm working on, that is aimed at helping introduce people to the basic tools in the workshop.

%p Files have been around for over 3000 years, and were one of the primary means of creating precision parts before the advent of machine tools. Unfortunately they're often not fully understood or appreciated in modern workshops.

%p The video below explains the different grades, shapes, patterns and cuts of files, as well as how to use them and maintain them.

<iframe width="853" height="480" src="//www.youtube.com/embed/lOR2UwZRBws?list=UU2YzIih9K5363N4n3ERmhMA" frameborder="0" allowfullscreen></iframe>

