---
layout: content
title: About Gough Custom
---

%h1 About Me

#about_photo
  %img{:src => "http://www.gravatar.com/avatar/7c800b8782ba084e5a6ab71a5a607137?s=230"}

%p I design things the way they should be: beautiful, strong, functional and timeless.

%p The things I make are not designed to simply sit on a shelf and look pretty, they are designed to be admired while you use them. To feel comfortable and look great when you use them. They are made from simple, durable, materials that will withstand a lifetime of everyday use.

%p I started out making things for myself. If I didn't like the way a pen felt, the way a knife functioned, or the way a guitar amp sounded I would always be tempted to make a version of it that I felt was as close to ideal as possible. After a while these designs started becoming realities, and as soon as other people saw the things I had made they started asking how I made them and if they could have one... Everything just sort of grew from there.

%p Today I specialize in designing and building custom products, and then making them by hand on a short-run basis. My products are available to people all around the world via this website. 

%p My logo is my signature because I will never deliver anything that I would not wish to have associated with my name. My signature is on every item I sell because I personally make each one by hand. I am able to stand behind each because I build things to last, not to be cheap.

%p If you would like me to make something for you, please <a href="/contact.html">contact me.</a>

%p.signature -Aaron Gough

