---
layout: content
title: Behind the scenes
---

%h1 Behind The Scenes
  
%p 
  It's been my experience that people love things with a story associated with them. If you have seen how something was made, have witnessed the care and dedication that went into its crafting, then that's a very different experience than buying something that's been made in a factory.
  
%p 
  This page is  dedicated to giving my customers a good long look into how I design and make my products. I also list information here that will be helpful for other designers/makers as I think it's important to share the things I've learnt.
  
%p
  %a{:href => "http://www.youtube.com/user/aaronmarkgough/videos"} Check out my YouTube channel!

%p
  %a{:href => "/resources.html"} A list of suppliers and websites that I use and recommend.
  
%p
  %a{:href => "http://pinterest.com/aarongough/boards/"} Check out my Pinterest boards to see designs I find inspiring.
  
%h2 Blog

%p When I'm working on prototypes, building new tooling, or experimenting with new processes and designs, I always try to document the process thoroughly and share it widely. This is for two reasons: first, I enjoy engaging with my customers and other makers this way. Second, I've often found that the feedback from other people has made the difference between a good result and a great one!
  
%ul#blog_list
  - category("blog").reverse.each do |post|
    %li
      %a{:href => post.relative_output_path}= post.title
      
%h2 Photostream

%p Check out the latest goings-on in my shop:

<iframe class="imgur-album" width="100%" height="550" frameborder="0" src="http://aarongough.imgur.com/all/embed#999999"></iframe>
      
%h2 Question and Answer

%p Every day I get asked a number of interesting questions by people who are interested in learning more about how to make things, like knives, for themselves. In the interests of sharing knowledge I'm preserving the best of those questions here along with my answers. If you'd like to ask a question please email me: <a href="mailto:aaron@goughcustom.com">aaron@goughcustom.com</a>
      
%ul#blog_list
  - category("question_and_answer").each do |post|
    %li
      %a{:href => post.relative_output_path}= post.title
