---
layout: content
title: Hand-made knives. Made to perform. Made to last.
---

.swipeshow
  .slides
    .slide
      .feature
        %a{:href => "/products/resolute/resolute.html"}
          %img{:src => "/products/resolute/01-brown-resolute-with-sheath.JPG", :alt => "'Resolute' camping, trail and survival knife."}
          .description
            The Resolute camp, trail, and survival knife.
    .slide
      .feature
        %a{:href => "/products/edc-pen/edc-pen.html"}
          %img{:src => "/products/edc-pen/05-pen-tip-closeup.jpg", :alt => "Gough custom EDC pen"}
          .description
            The EDC pen, designed for a lifetime of use and enjoyment.
    .slide
      .feature
        %a{:href => "/behind-the-scenes.html"}
          %img{:src => "/images/features/sparks.jpg", :alt => "Behind the scenes at Gough Custom"}
          .description
            See behind the scenes.
  .dots
    

%h2.tagline Hand-made. Designed to perform. Made to last.

%p Hand-made knives and tools, made individually with care in my shop in Toronto, Canada.

%p I take a high-quality, no-nonsense, approach to designing and building knives and other tools. Each design has evolved through continual testing to become something that performs its core task with ease and purpose.

%p Everything I make is guaranteed for life. I design strong and build well so you'll never have to cash in on that guarantee.

%p To see the current models available for purchase have a look at the <a href="/products">products</a> page. To learn more about how my knives and tools are made check out the <a href="/behind-the-scenes.html">behind the scenes</a> section. If you have further questions, or would like to inquire about having a knife made please go to the <a href="/ordering.html">ordering</a> page.