---
layout: content
title: Hand-made knives. Made to perform. Made to last.
---

.swipeshow
  .slides
    .slide
      .feature
        %a{:href => "/products/resolute/resolute.html"}
          %img{:src => "/products/resolute/01-brown-resolute-with-sheath.JPG", :alt => "'Resolute' camping, trail and survival knife."}
          .description
            The Resolute camp, trail, and survival knife.
    .slide
      .feature
        %a{:href => "/products/edc-pen/edc-pen.html"}
          %img{:src => "/products/edc-pen/05-pen-tip-closeup.jpg", :alt => "Gough custom EDC pen"}
          .description
            The EDC pen, designed for a lifetime of use and enjoyment.
    .slide
      .feature
        %a{:href => "/behind-the-scenes.html"}
          %img{:src => "/images/features/sparks.jpg", :alt => "Behind the scenes at Gough Custom"}
          .description
            See behind the scenes.
  .dots
    


%h2.tagline Hand-made. Designed to perform. Made to last.

%p Humanity has been using knives in various forms for over 2 million years, their use is ingrained in every part of our culture, and there probably isn't an able-bodied human on earth that does not use a knife in some part of their daily life.

%p Unfortunately today most knives are compromised in their ability to perform their essential task, to cut, because of the drive to produce low-cost, low-quality products for the mass consumer market.

%p My answer to this is to make knives that are performant, durable and beautiful. Each one is made by hand. Each one has its own story and its own character. My goal, and my promise, is to make the best knives possible.

%p I make camping, survival, bushcraft, military, and kitchen knives all by hand, right here in my workshop in Toronto, Canada.

%p To see the knives that I've made for other customers please have a look at the <a href="/gallery/index.html">gallery</a> page. To learn more about how my knives are made check out the <a href="/behind-the-scenes.html">behind the scenes</a> section. If you have further questions, or would like to inquire about having a knife made please go to the <a href="/contact.html">contact</a> page.