---
layout: content
title: Resources
---

%h1 Resources:

%p This page which lists links to websites that I find informative or inspirational. There are also links to useful suppliers.

%h2 Informative and Inspirational sites:
%p
  %ul
    %li
      %a{:href => "http://cnczone.com/"}CNC Zone: Forum for discussion of CNC and manual wood and metal-working machines
    %li
      %a{:href => "http://www.frets.com/HomeShopTech/hstpages.html"}Frets: Lots of neat projects for around the shop
    %li
      %a{:href => "http://www.5bears.com/"}5 Bears: A homemade CNC mill, jet engines and more
    %li
      %a{:href => "http://toolingaround.ca/index.html"}Tooling Around: General info on small machine tools
    %li
      %a{:href => "http://bbs.homeshopmachinist.net/"}Home Shop Machinist: A great source of machining information
    %li
      %a{:href => "http://www.homemodelenginemachinist.com/"}Home Model Engine Machinist: Great for information on close-tolerance machining of small parts

%h2 Useful videos:
%p
  %ul
    %li
      %a{:href => "http://www.youtube.com/watch?v=Kv7QHQ0bc_0&feature=related"} How to make a silicon mold
    %li
      %a{:href => "http://www.youtube.com/playlist?list=PLBC69869E8CB708F2"} Machine Shop Tips: More than 80 videos demoing machine shop techniques


%h2 U.S. Suppliers (that ship to Canada & internationally):
%p
  %ul
    %li
      %a{:href => "http://littlemachineshop.com/"}Little Machine Shop: Parts and supplies for small machine tools
    %li
      %a{:href => "http://www.reidsupply.com/"}Reid Supply: Tooling and automation components
    %li
      %a{:href => "http://www.automationtechnologiesinc.com/"}Automation Technologies Inc: Automation components
    %li
      %a{:href => "https://www.surpluscenter.com/"}Surplus Center: Great source for electric motors and controllers
    %li
      %a{:href => "http://www.geckodrive.com/"}Geckodrive: The best stepper controllers I have ever used
    %li
      %a{:href => "http://ebay.com/"}eBay: Don't underestimate how useful eBay can be for materials and tooling!
    %li
      %a{:href => "http://www.sdp-si.com/"}SDP/SI: Bearings, Gearing, Belts, Seals, Motors and more
    %li
      %a{:href => "http://www.roton.com/"}Roton: Great place for buying leadscrews and ballscrews

%h2 Canadian suppliers:
%p
  %ul
    %li
      %a{:href => "http://www.appliedcanada.com/"}Applied Industrial Technologies: Bearings, Gearing, Linear motion and more.
    %li
      %a{:href => "http://motiontek.ca/"}MotionTek: Servo and Stepper drives, Linear rails, pulleys, vacuum motors and couplers!


%h2 Toronto &amp; Ontario suppliers:
%p
  %ul
    %li
      %a{:href => "http://www.mckinnonmetals.com/"}McKinnon Metals: Carbon and tool steels, aluminum and brass
    %li
      %a{:href => "http://www.atlas-machinery.com/"}Atlas Machinery: A good selection of tooling, machinery and measurement equipment
    %li
      %a{:href => "https://www.machinetoolswarehouse.com/xcart/catalog/index.html"}Machine Tools Warehouse: A great place for machinery and automation controllers
    %li
      %a{:href => "http://leevalley.com/"}Lee Valley: A surprising number of useful precision tools

%h2 Knifemaking suppliers:
%p
  %ul
    %li 
      %a{:href => "http://usaknifemaker.com/"} Great source for G10! Wide range and great speedy service.
    %li
      %a{:href => "http://jantzsupply.com/"} Great source for a wide range of knifemaking gear, especially good for interesting blade steels and 2x72" abrasive belts
    %li
      %a{:href => "http://knifemaker.ca/"} Great source of steels, abrasives and heat-treat supplies for canadian knifemakers
    %li
      %a{:href => "http://knifekits.com/"} Best range of Kydex materials that I've seen anywhere!
      