---
layout: blog
title: In search of the ideal knife steel
---

%p Over the next month or so I'm going to be evaluating a variety of steels.



Resources:
http://www.nsm-ny.com/index.cfm?fuseaction=page.display&page_id=27
