---
layout: blog
title: How do you make your blades black?
---

%p.quote
 Hello Aaron, 

 Could you tell me the composition of the acid you used to do the etching of that infantryman knife? The finish is great.

 Thank you.

 Charlie
 
%p Hey Charlie!

%p I use an acid called 'Ferric Chloride' to etch my blades and turn them black. Ferric Chloride is commonly used in the electronics industry to make printed circuit boards, so it should be available at any electronics store like RadioShack.

%p I dip my knives in the acid solution after they're otherwise completed. I'm able to do this because the handle material that I use (G10) and the the glue I use (epoxy) are both unaffected by Ferric Chloride. Other handle materials like bone, micarta and wood will likely be discoloured by the acid.

%p I dip my knives in the acid for 15-20 seconds, then remove the knife and scrub it under running water with an old toothbrush. This removes any loose oxides and helps get an even finish. After the scrub I put it back in the acid. I repeat this maybe 4-5 times to get a dark even finish. After I get the finish I want I neutralize the acid by dipping the knife in a container of bicarbonate soda dissolved in water.

%p Some people use other acids (like vinegar) to etch their knives, I never had great results doing that though. The finish always came out patchy and uneven. Vinegar also eats epoxy quite quickly, so I recommend staying away from it!

%p When using Ferric Chloride you should always wear chemical splash goggles, a respirator and gloves. It's not the most aggressive acid (if you get some on your skin, but wash it off quickly, all you'll have is a stain), but any acid can cause serious irritation if it comes in contact with your eyes, nose, throat or lungs.

%p The finish given by acid etching is quite beautiful, but unfortunately it's not terribly durable. You'll start to see it wearing off almost immediately with normal use. I now only use it when a customer absolutely needs a non-glare finish.

%p -Aaron