---
layout: blog
title: 'Steel Testing: A carnival of knife destruction'
---

%p I've finally completed the testing I was doing on a number of different blade steels. The point of this testing was to find out which steel and heat-treatment worked best for my designs, specifically my hard-use outdoors knives.

%p The testing took nearly 200 hours in total over a period of about 5 weeks. During the testing I made and then destroyed 12 blades, each made made with a different steel and heat-treat combination.

%p As I tend to do these days I recorded the entire process on video for you guys to watch! Hope you enjoy it!

<iframe width="853" height="480" src="//www.youtube.com/embed/TSVs2LCZ-TQ?rel=0" frameborder="0" allowfullscreen></iframe>