---
layout: blog
title: Making and using a filing jig for making knives
---

%p When I was first getting started with knifemaking, a maker by the name of Neil Charity was kind enough to let me spend some time with him in his shop. After a while he sent me home with a tool that he had made, a bevel filing jig. This jig basically guided a file so that you could 'grind' the bevels on a knife blade purely with hand-tools.

%p It worked very well, and my first 2 knives were both made using that jig.

%p When I got back into making knives at the start of 2013 I made a knock-off of that jig and continued to use it for making my knives.

%p Many people have asked me about the bevel grinding jig, so I thought I would do a video showing how to make a re-designed, improved and simplified version of the jig. This jig is really great as a simple, inexpensive and safe way to get started making knives.

<iframe width="853" height="480" src="//www.youtube.com/embed/r9iNDRwwBQQ?list=UU2YzIih9K5363N4n3ERmhMA" frameborder="0" allowfullscreen></iframe>

%p This inexpensive jig will let you do nearly everything that a much more expensive grinder would, and if you are patient and careful you'll get great results right off the bat!