---
layout: blog
title: What is the best steel?
---

%p.quote 
  Hi Aaron! How do you think, what's the best steel for the knife? I'm not meaning the standard tool steels. I mean something better, high-performance with best cutting edge capabilities, especially for the knife that will be used in a very heavy conditions. What steel is the best out there?

  Thank you

%p Hi there, 
That question is really hard (if not impossible) to answer unfortunately. Any knife steel is a series of compromises. The alloying elements that make the steel more wear resistant also generally make it less tough.

Given that a knife blade needs to be both tough and wear resistant, any knife steel is really just a compromise on a number of fronts.

%p The 'simple' tool steels are actually quite tough and quite wear resistant, and as such they make excellent knife steels. The only drawback is that they're not corrosion resistant. If corrosion resistance is required then things get a little trickier as the higher amounts of chromium in the steel tend to make it less tough.

%p It's worth noting that a lack of toughness can also sometimes translate to a lack of edge holding ability. Perhaps the steel is very wear resistant, but if it's not also somewhat tough then the fine cutting edge can chip excessively in use.

%p My overall recommendation:

%p If you need something with ultimate edge retention but not much need for toughness then CPMS30V, CPMS35V, CPMS90V, CPMM4 or ZDP-189 are all good choices. The drawback with these steels is that they are often considered much harder to sharpen than other steels.

%p If you need something that's ultimately tough then the best options are: CPM3V, 1070, 1080, 1084, S7 and others. It's worth noting that all of the toughest steels are NOT stainless.

%p As far as middle of the road steels go, ones that are a reasonable compromise in all areas: My research so far says that something like CPM154 is probably close to an ideal stainless steel for knife blades. It's tougher than O1, while also being slightly more wear resistant AND it's also very corrosion resistant.

%p I'm sure all this left you with more questions, when you probably hoped for more answers. Unfortunately that's just the nature of the beast here.

%p For more info it's worthwhile checking out the <a href="http://nsm-ny.com/index.cfm?fuseaction=page.display&page_id=27">cutlery steels page provided by Niagara Specialty Metals.</a>

%p Hope this helps you with your search!
%p -Aaron