---
layout: blog
title: Testing handle attachment methods
---

%p Until just recently my main method for attaching handles was a combination of epoxy and peened stainless steel pins. This was a very strong way of attaching the handle scales, but unfortunately the peening process had the tendency to leave craze marks (white rings) in the G10 that surrounded the handle pins.

%p In order to avoid this and make the process of assembling the handles less stressful (try juggling wet epoxy and a hammer sometime!) I wanted to see if there were any other handle attachment methods that matched the pins for strength.

%p After doing some research I decided that 'Corby Bolts' looked like a good prospect, so I did some testing using them:

<iframe width="853" height="480" src="//www.youtube.com/embed/PGmydrLT2Fo" frameborder="0" allowfullscreen></iframe>

%p I was very happy with the results of the Corby Bolt test, and will be using them in all my knives going forward.