---
layout: content
title: Portfolio
---

.portfolio_item.pad
  %a{:href => "/products/resolute/resolute.html"}
    %img{:src => "/products/resolute/01-brown-resolute-with-sheath.JPG"}

  .description
    'Resolute' camp, trail, and survival knife.

.portfolio_item
  %a{:href => "/products/edc-pen/edc-pen.html"}
    %img{:src => "/products/edc-pen/05-pen-tip-closeup.jpg"}
  
  .description
    'EDC Pen', designed for life.


