---
layout: content
title: Portfolio
---

.portfolio_item.pad
  %a{:href => "/products/resolute/resolute.html"}
    %img{:src => "http://i.imgur.com/AHq2Ih.jpg"}

  .description
    'Resolute' camp & survival knife.

.portfolio_item
  %a{:href => "/products/edc-pen/edc-pen.html"}
    %img{:src => "http://i.imgur.com/AHq2Ih.jpg"}
  
  .description
    'EDC Pen', designed for life.


