---
layout: content
title: Portfolio
---

.portfolio_item.pad
  %a{:href => "/products/resolute/resolute.html"}
    %img.wide{:src => "/products/resolute/10-top-oblique-no-logo.JPG"}

  .description
    Resolute 4" camp, trail, and survival knife.
    
.portfolio_item
  %a{:href => "/products/resolute5/resolute5.html"}
    %img.wide{:src => "/products/resolute5/11-top-oblique-no-logo.JPG"}

  .description
    Resolute 5" camp, trail, and survival knife.

.portfolio_item.pad
  %a{:href => "/products/edc-pen/edc-pen.html"}
    %img{:src => "/products/edc-pen/05-pen-tip-closeup.jpg"}
  
  .description
    EDC Pen, designed for life.


