---
layout: blog
title: O1 Heat Treatment Video
---

%p The most intimidating and least understood part of the knifemaking process for people that are new to it has to be the heat-treatment process. It can be hard to wrap your head around because you can't look at the steel and see the difference made by the process. It can also be hard to tell if it was done properly or improperly.

%p To help try to make the process more accessible I encourage new knifemakers to treat it the same way they would a recipe in the kitchen. You don't necessarily need to know why each step is done when you're learning to cook, it's enough just to carefully follow the recipe!

%p I decided to make a video detailing the process of doing a simple heat-treatment on O1 tool steel. This recipe doesn't exactly wring every last drop of performance from the steel, but it's designed to be easy and inexpensive to do with minimal tools.

%p The basic requirements for heat-treating a knife blade made form O1 are: a propane torch, 2 fire-bricks, an oven, a file, some vegetable oil, tongs, and a large metal quench container. The video below details the process and materials:

<iframe width="853" height="480" src="//www.youtube.com/embed/8bunCG6W6dA?list=UU2YzIih9K5363N4n3ERmhMA" frameborder="0" allowfullscreen></iframe>