---
layout: content
title: Final Pen Design
---

<p>After many versions of my pen, I have finally found a design that I really like! This one goes back to using a cap as I found the twist mechanism was not reliable. The cap is retained by a pair of o-rings which provide a pleasant friction fit.</p>

<p>The only aspect that still needs work is the system for retaining the ink cartridge. Because the ink cartridge doesn't have a shoulder on it some sort of clamp is needed, currently I am using a jam-fit at the end of the cartridge, but this is not as reliable as I would like. I am considering using a setscrew through the barrel of the pen, but I am also worried that this will add a lot of time to the production of each pen, and possibly spoil its looks... More thinking required there.</p>

<img class="content_image" src="http://i.imgur.com/9yZXhh.jpg" />