---
layout: content
title: The best indicator holder for the lathe!
---

<p>Earlier this morning I watched this video (via <a href="http://www.cnccookbook.com/MTLatheHolding.htm">CNC Cookbook</a>):</p>

<iframe width="480" height="360" src="http://www.youtube.com/embed/2KMhx4DbyDg?rel=0" frameborder="0" allowfullscreen></iframe>

<p>While watching the video I noticed the very nice holder that he was using for his dial indicator. It mounts in the toolpost and looks <strong>much</strong> more sturdy than using a magnetic indicator base on the cross-slide as I'm used to doing.</p>

<p>I can't stand doing things the hard way after I know there's a better alternative, so I set out to make myself an indicator holder like the one in the video. Here is the result.</p>

<img class="content_image" src="http://i.imgur.com/UAHxx2Ll.jpg" />
<img class="content_image" src="http://i.imgur.com/MlPUki1l.jpg" />
<img class="content_image" src="http://i.imgur.com/R4hVSIsl.jpg" />

<p>It works very well, and really is much easier to use than a magnetic base for the same purpose. It's sturdy enough that you can set zero on the dial with one hand instead of the usual two, and there's no worry that it's going to slip and give erroneous readings.</p>

<p>So that other people can make themselves one of these wonderful tools I spent a few minutes putting together a drawing! It accommodates standard size dial indicators, as well as dial test indicators via their provided shaft adaptors. If you would like to use the holder on smaller lathes, simply reduce the size of the shank to suit.</p>

<a href="http://i.imgur.com/YHUm5oB.png"><img class="content_image" src="http://i.imgur.com/YHUm5oBl.png" /></a>

<p>Download the full-size drawing: <a href="http://i.imgur.com/YHUm5oB.png">dial-holder.png</a><p>

