---
layout: blog
title: Starting the search for the ideal steel
---

%p I've long since come to the conclusion that the 'perfect' steel for making knives is not really something that exists. After all, if it did then everyone would be using it! Each different style of knife requires a different blend of characteristics from a steel.

%p Large outdoors knives require high levels of toughness, EDC and kitchen knives benefit from high levels of hardness and wear resistance. Unfortunately the properties of wear resistance and toughness are somewhat mutually antagonistic. The alloying elements used to make steel more wear resistant (and more corrosion resistant) tend to lower the toughness of the steel.

%p With all this in mind I've recently set out on the search for my 'ideal steel'. Ideal doesn't mean perfect, it just means that it has a set of compromises that most closely reflect my values as a knifemaker. Some steels are ruled out by simple research: for example CPMS125V is so wear resistant that most people can't sharpen it, and also not nearly tough enough for large camp knives.

%p Maintaining the simplicity of my processes and designs is one of the most important elements in ensuring that I deliver the best possible quality in everything I make. To reflect that I have decided to search for just one steel that I will use in all my knives. This is a bit of a big ask, but I believe it's something that can be done.

%p With the help of constant research I have narrowed my list of test subjects down to just 5 steels:

%ul
  %li O1
  %li A2
  %li 440C
  %li CPM3V
  %li CPM154
  
%p From all my research I think the likely outcome is that I will be moving to CPM154. It's tougher than any of the other steels besides CPM3V, it's the most wear resistant of the bunch, and it's also very stain/corrosion resistant. I would like my knives to require the least possible amount of maintenance, so using a stainless steel would have it's advantages. If one of the non-stainless steels offers an irresistible performance edge, then I will be looking at low-maintenance blade coatings.

%p My testing will all be done blind (I won't know which test blade is made from which steel) and I'm very much looking forward to the results! I will be taking video of the process and updating often!

= photo("steels", :class => "content_imagea")