---
layout: blog
title: What are your recommendations for sharpening?
---

%p.quote 
  Sorry to keep bothering you with questions. One last thing what do use to sharpen the knives with? That infantry knife is probably one of the sharpest knives I've seen. Thanks again.

%p Hey mate!

%p Funnily enough this is actually the question I get asked least often! I'm not sure why, because I'm pretty sure that most people aren't all that great at sharpening knives!

%p I'm not perfect (or even great) at sharpening either, so I enlist a little help in the form of the Lansky Diamond Sharpener. It's basically a system that holds a set of diamond stones at a fixed angle compared to your knife blade so that you can get good sharpening results more easily.

%p Even though the Lansky system is designed to make life easier, there are still some tricks worth knowing:

%p First: if you're serious about sharpening your knives well make sure you get the mounting post for the sharpening system, it allows you to hold the knife in place more easily and makes your results more consistent!

%p Second: spend some time looking up tips and tricks for using the system. This page has some of the best tips I've come across: <a href="http://edcforums.com/threads/some-lansky-sharpener-tips-warning-pic-heavy.98802/">EDC Forums: Lansky tips and tricks</a>

%p Third: after you've sharpened your knife with all the stones up to 600 grit, it's a good idea to 'strop' the edge on a piece of leather or fabric. This helps align the final cutting edge to get maximum sharpness.

%p Sharpening is a complicated topic, and somewhat hard to talk about in writing alone. To address this I will be doing a video about it sometime in the future. Make sure to keep an eye out for it!

%p -Aaron