!!!
%html
  %head
    %title
      Gough Custom - 
      = title
      
    %link{:rel => "icon", :type => "image/jpeg", :href => "http://www.gravatar.com/avatar/7c800b8782ba084e5a6ab71a5a607137?s=80"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    %link{:href => "/css/syntax_highlight.css", :rel => "stylesheet"}
    %link{:href => "/css/jquery.swipeshow.css", :rel => "stylesheet"}
    
    %link{:href => "/fonts/bitstream-vera-sans/stylesheet.css", :rel => "stylesheet"}
    %link{:href => "/fonts/daniel/stylesheet.css", :rel => "stylesheet"}
    %link{:href => "/fonts/quicksand/stylesheet.css", :rel => "stylesheet"}
    
    %script{:src => "http://code.jquery.com/jquery-1.10.1.min.js"}
  %body
    #wrapper
      #little_stripe
      #stripe
      
      #header
        #logo
          %a{:href => "/"}
            Gough
        
        #menu
          %ul
            %li 
              %a{:href => "/products/index.html"} Products
            %li 
              %a{:href => "/behind-the-scenes.html"} Behind The Scenes
            %li 
              %a{:href => "/about.html"} About
            %li
              %a{:href => "/contact.html"} Contact
      
      #content
        = yield
        .clearfix
      
      #footer
        Copyright &copy; 2012 Gough Custom, all rights reserved.
        
    %script{:src => "/javascript/jquery.swipeshow.min.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6491570-13']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();