<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
  	<title>Gough - {{ page.title}}</title>
  	<link rel="icon" type="image/jpeg" href="http://www.gravatar.com/avatar/7c800b8782ba084e5a6ab71a5a607137?s=80" />
  	<link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="logo_container">
      Gough
    </div>
    
    <div id="menu_container">
      <ul>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/buy/">Buy</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
    
    <div id="content_container">
      {{ content }} 
    </div>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6491570-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
