---
layout: blog
title: EDC knife prototype
---

%p After seeing the <a href="http://www.fenixoutfitters.com/amsler-knives-hurricane-razor-without-tritium-627">Amsler Hurricane Razor</a> a few weeks ago, I was inspired by the idea of a small exacto/scalpel type knife as an EDC alternative. I decided to have a go at my own interpretation of the idea.

%p In general I do not like hollow grinds, so I decided once again to go for a full flat grind. The knife was made from 5/32" (4mm) O1 tool steel. It was sandblasted and waxed, then fitted with a tiny kydex sheath.

= photo(1, :class => "content_image")
= photo(2, :class => "content_image")
= photo(3, :class => "content_image")

%p <strong>Update:</strong> I've been carrying this as my EDC for a few weeks now and I must say that I quite like it so far! The handle fits surprisingly well in the hand in all the relevant grip positions. Right now the blade has a bit too much belly, which stops you from easily using the point of the knife at a natural angle (like you would with an exacto).

%p I'm planning to make another prototype soon with a thinner blade, and a different blade profile. Stay tuned!