---
layout: blog
title: Making a knife for an Infantryman
---

%p I had a gentleman approach me a while ago enquiring about having a knife made. He was going to be deployed to Afghanistan in a few months and wanted a knife that could cope with the kind of daily hard use that military service naturally involves.

%p At the time that he approached me I was only part way through the design process for the Resolute, he liked the idea of the knife and I continued evolving the design with his needs in mind. I feel quite sentimental about the knife that I ended up sending him because of the influence that it had on the design process.

%p He loved seeing the process of making a knife so much that it inspired me to document every stage of his knife being made on video. The video below is the edited result, showing every step of the process in detail, yet paced fast enough that it will keep even a layman interested. I enjoyed making it greatly, hope you enjoy it too!

<iframe width="853" height="480" src="//www.youtube.com/embed/R98cGkhN18o?list=UU2YzIih9K5363N4n3ERmhMA" frameborder="0" allowfullscreen></iframe>